<div class="modal fade" id="callmeModal" tabindex="-1" aria-hidden="true" role="dialog" arial-labelledby="ModalCall" style="dispaly: block;">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="close">
          <span aria-hidden="true">x</span>
        </button>
        <h2 class="modal-title getmetelf" id="ModalCall">我的聯絡方式</h2>
      </div>
      <div class="modal-body">
        <div class="myphone">
          <p class="greynum">+886</p>
          922-645-097
        </div>
        <div class="contacthours">
          <p class="hourcall">聯絡時間</p>
          <div class="rightcall">
            <p class="dayscall">星期一 - 星期五</p>
            <p class="horario">9:00 - 22:00</p>
            <p class="dayscall">星期六 - 星期日</p>
            <p class="horario">10:00 - 18:00</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class = "modal fade" id = "portfolio-1" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel" aria-hidden = "true">
   <div class = "modal-dialog">
      <div class = "modal-content">
         <div class = "modal-header">
            <h4 class = "modal-title" id = "myModalLabel">
               Fish Hostel魚旅背包客棧 官網
            </h4>
         </div> 
         <div class = "modal-body">
            <p>這是我在青旅當管家時所建的網站，由於當時的我完全不了解任何程式語言，所以只透過wordpress這個平台很陽春的建立，開發的時間大約一個月。這個過程中學會了：
            <ul>
            <li>如何透過減少request和檔案，加速網站運行</li>
              <li>購買版型</li>
              <li>根據設計圖排版</li>
              <li>熟悉plugin</li>
            </ul>
            <br>註：這個網站目前似乎已經沒有在維護，所以有些plugin應該已經出現不相容的情況。
            </p>
         </div>
         <div class = "modal-footer">
          <a href="http://www.fishhosteltaipei.com" target="_blank" class="btn btn-default btn-lg active" role="button">網站</a>
         </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class = "modal fade" id = "portfolio-2" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel" aria-hidden = "true">
   <div class = "modal-dialog">
      <div class = "modal-content">
         <div class = "modal-header">
            <h4 class = "modal-title" id = "myModalLabel">
               Launch School作業－Todo App
            </h4>
         </div> 
         <div class = "modal-body">
            <p>這個Todo App是Launch School最後一堂後端課程的作業，而這個App主要是使用Sinatra所建立的，大約花了我2-3天完成（因為承接了上一份作業的內容，所以時間短了很多）。這個過程中學會了：
            <ul>
              <li>如何使用Sinatra</li>
              <li>如何使用PG、Sequel等gems</li>
              <li>如何結合database和session</li>
            </ul>
            </p>
         </div>
         <div class = "modal-footer">
            <a href="https://github.com/jerrylin224/course_180/tree/master/sinatra_todos" target="_blank" class="btn btn-default btn-lg active" role="button">程式碼</a>
         </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class = "modal fade" id = "portfolio-3" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel" aria-hidden = "true">
   <div class = "modal-dialog">
      <div class = "modal-content">
         <div class = "modal-header">
            <h4 class = "modal-title" id = "myModalLabel">
               Launch School作業－圈圈叉叉（tic-tac-toe）
            </h4>
         </div> 
         <div class = "modal-body">
            <p>這個圈圈叉叉的程式，是Launch School的OOP課程中的一個作業，內容是把先前用procedural方式寫的code改寫成OOP的形式，總共大約花了我2-3天完成，在這個過程中我學會了：
            <ul>
              <li>如何透過OOP的方式撰寫程式碼</li>
              <li>Class inheritance的常見問題</li>
              <li>如何使用module和class</li>
            </ul>
            </p>
         </div>
         <div class = "modal-footer">
            <a href="https://github.com/jerrylin224/lauchschool-work/blob/master/oop/oop_lesson5/ttt_bonus.rb" target="_blank" class="btn btn-default btn-lg active" role="button">程式碼</a>
         </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class = "modal fade" id = "portfolio-4" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel" aria-hidden = "true">
   <div class = "modal-dialog">
      <div class = "modal-content">
         <div class = "modal-header">
            <h4 class = "modal-title" id = "myModalLabel">
               Launch School習題－Weekly Challenge
            </h4>
         </div> 
         <div class = "modal-body">
            <p>這份作業裡面是Launch SChool的額外練習題，我完成了有24題，我從這個過程中學到：
            <ul>
              <li>加深了Ruby的觀念</li>
              <li>如何運用OOP</li>
              <li>如何使用test降低出錯機率</li>
            </ul>
            </p>
         </div>
         <div class = "modal-footer">
            <a href="https://github.com/jerrylin224/weekly_challenge" target="_blank" class="btn btn-default btn-lg active" role="button">程式碼</a>
         </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class = "modal fade" id = "portfolio-5" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel" aria-hidden = "true">
   <div class = "modal-dialog">
      <div class = "modal-content">
         <div class = "modal-header">
            <h4 class = "modal-title" id = "myModalLabel">
               Launch School作業－21點
            </h4>
         </div> 
         <div class = "modal-body">
            <p>這份作業是透過procedural的方式完成，也是初學Ruby時接觸到比較複雜的程式。在這個過程中我學到：
            <ul>
              <li>如何處理大量的loop</li>
              <li>如何善用if else statement</li>
              <li>如何透過hash&array儲存資料</li>
            </ul>
            </p>
         </div>
         <div class = "modal-footer">
            <a href="https://github.com/jerrylin224/lauchschool-work/blob/master/lesson_4/twenty_one_bonus.rb" target="_blank" class="btn btn-default btn-lg active" role="button">程式碼</a>
         </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
 <div class = "modal fade" id = "portfolio-6" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel" aria-hidden = "true">
   <div class = "modal-dialog">
      <div class = "modal-content">
         <div class = "modal-header">
            <h4 class = "modal-title" id = "myModalLabel">
               松田健康生活館（我們家） 官網
            </h4>
         </div> 
         <div class = "modal-body">
            <p>這個網站是我在2016年年初，透過codecademy自學html/css後，所做出來的第一個網站。當時從零開始學，到作出這個靜態網站大概花了我100多個小時的時間。從這個過程中我學到：
            <ul>
              <li>如何使用簡單的html/css</li>
              <li>頁面排版</li>
              <li>RWD的基礎知識</li>
            </ul>
            </p>
         </div>
         <div class = "modal-footer">
            <a href="https://github.com/jerrylin224/course_180/tree/master/sinatra_todos" target="_blank" class="btn btn-default btn-lg active" role="button">程式碼</a>
         </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<header>
    <!-- Menu Navigation -->
  <div id="top" class="container">
    <!-- Menu left -->
    <nav id="ha-header" class="ha-header ha-header-show ha-header-subshow">
      <ul class="nav">
          <li class="dropdown">
            <!-- Dropdown menu -->
            <a class="dropdown-toggle circle-main" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">        
          <svg class="hello" height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 15.5v2h20v-2H2zm0-5v2h20v-2H2zm0-5v2h20v-2H2z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
            </a>
            <!-- Navigation Sections -->
            <ul class="dropdown-menu">
          <li><a data-scroll="" data-options="{ &quot;easing&quot;: &quot;easeOutQuint&quot; }" href="#top" class="menu-item wall">Hello</a></li>
          <li><a data-scroll="" data-options="{ &quot;easing&quot;: &quot;easeOutQuint&quot; }" href="#about" class="menu-item wall">關於我</a></li>
          <li><a data-scroll="" data-options="{ &quot;easing&quot;: &quot;easeOutQuint&quot; }" href="#skills" class="menu-item wall">技能和能力</a></li>
          <li><a data-scroll="" data-options="{ &quot;easing&quot;: &quot;easeOutQuint&quot; }" href="#portfolio" class="menu-item wall">作品集</a></li>
          <li><a data-scroll="" data-options="{ &quot;easing&quot;: &quot;easeOutQuint&quot; }" href="#work" class="menu-item wall">工作經驗</a></li>
          <li><a data-scroll="" data-options="{ &quot;easing&quot;: &quot;easeOutQuint&quot; }" href="#education" class="menu-item wall">教育程度</a></li>
          <li><a data-scroll="" data-options="{ &quot;easing&quot;: &quot;easeOutQuint&quot; }" href="#why5xruby" class="menu-item wall">為什麼是五倍紅寶石</a></li>
          <li><a data-scroll="" data-options="{ &quot;easing&quot;: &quot;easeOutQuint&quot; }" href="#download" class="menu-item wall">社群媒體</a></li>
          <li><a data-scroll="" data-options="{ &quot;easing&quot;: &quot;easeOutQuint&quot; }" href="#contacto" class="menu-item wall">聯絡我</a></li>
          
            </ul>
          </li>
        </ul>
    </nav>

    <!-- // Menu left -->

    <!-- Menu right - Hidden in small devices -->
    <div class="nav-extra hidden-xs">
      <!-- Button Contact Modal -->
      <a class="callme" href="#" data-toggle="modal" data-target="#callmeModal">
        <span class="glyphicon glyphicon glyphicon-earphone call" aria-hidden="true"></span>
      </a>
      <!-- Button 'Hire me' -->
      <a class="hireme button-mywall" data-scroll="" data-options="{ &quot;easing&quot;: &quot;easeOutQuint&quot; }" href="#contacto">Hire me now</a>
    </div>
    <!-- // Menu right -->
  </div>
  <!-- // Menu Navigation -->

  <!-- Personal Details -->
  <div class="container">
    <img class="img-circle imgsus" alt="Andrey Marin" src="/images/profile-1.png">
    <h1 class="name-boss">林家弘</h1>
    <h2 class="main-details">Designer. Programmer. Creative. Innovator.</h2>
    <p class="extend-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
  </div>
    <!-- // Personal Details -->
</header>
  <section id="about" class="full-section my-about">
    <article class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="title-main">關於我</h2>
          <p class="text-main">嗨，我是林家弘，我目前正在全職自學coding當中，期望在不久的將來能夠成為一名全端工程師，並透過代碼解決社會/公司/自己所面臨的問題。目標是在今年內得到海外的offer，正式開始在國外工作。<br><br>
          平時最大的樂趣是閱讀還有寫作，有機會的話也喜歡一個人去不同的國家走走、找朋友。接下來想去這幾個城市/國家（北京、上海、印尼、泰國、吉爾吉斯）見見過去的好朋友們。</p>
        </div>
        <div class="col-md-6">
          <img src="/images/life-4.jpg" style="max-width: 100%;"alt="" />
        </div>
      </div>
    </article>
  </section>
  <section id="aboutme" class="full-section">
    <!-- <div> -->

    <!-- </div> -->
    <div class="container">
      <div class="row">
        
        <h3 class="title-three">生活</h3>
        <ul>
          <li data-toggle="tooltip" data-placement="bottom" title="在日本千葉大學交換一年期間，讓我擁有了一段非常美好的人生回憶，也讓我交到了許多來自不同國家的好朋友：）"><img src="/images/life-3.jpg"  alt="" /></li>
          <li data-toggle="tooltip" data-placement="bottom" title="大四時參加的工學院的計畫，讓我生平第一次踏上美帝的國土。也謝謝成大學長姐的導覽，讓我有機會一虧Google總部，還買了很多紀念品XD。"><img src="/images/life-4.jpg"  alt="" /></li>
          <li data-toggle="tooltip" data-placement="bottom" title="我家的肥貓'大仔'，雖然大隻但是叫聲卻很秀氣（可能是因為少了蛋蛋......），是隻很愛撒嬌和橫衝直衝的公貓。"><img src="/images/life-5.jpg"  alt="" /></li>
          <li data-toggle="tooltip" data-placement="bottom" title="人生第一次挑戰搭便車＆沙發衝浪。在日本交換生涯結束之前，我規劃從我所在的千葉縣，搭車前往北海道最北端。雖然最後因為一些因素只搭到青森就結束旅程，但仍舊是一段令人印象深刻的旅程啊。"><img src="/images/life-1.jpg"  alt="" /></li>
          <li data-toggle="tooltip" data-placement="bottom" title="在大四寒假的時候我跑到菲律賓當了六個禮拜的國際志工，而這也是我生平第一次'一個人'出國的經驗（雖然後來發現我的夥伴有一大堆中國人跟台灣人，常常都會以為我在台灣XD）。" > <img src="/images/life-2.jpg"  alt="" /></li>
        </ul>
      </div>
    </div>
  </section>
  <section id="skills" class="full-section-two bg-skills">
    <div class="container">
      <h2 class="title-main mywhite">技能和能力</h2>
      <p class="text-main mywhite">從去年開始到現在，陸陸續續接觸了不同的語言和框架，到目前為止比較熟悉的是Ruby、PSQL、Sinatra和HTML/CSS。雖然不敢說很熟練，但是我有自信能夠結合所學，開始建立更多運用到前後端知識的作品。</p>
    
      <div class="row">
        <% @skill.each do |key, value| %>
          <div class="col-md-6 spear">
            <div class="row">
              <div class="hidden-xs col-sm-2 icon-skill">
                <img src="../images/<%= value[0] %>.png" alt="<%= value[0] %>" />
              </div>
              <div class=" col-sm-10">
                <div class="row">
                  <div class="col-sm-12 title-skill"><%= key %></div>
                  <div class="col-sm-12 bar-skill">
                    <div class="this-skill my-green <%= value[1] %>"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
  <section id="portfolio" class="full-section">
  <div class="container">
    <h2 class="title-main">作品集</h2>
    <p class="text-main">在這裡收集了我先前工作時用wordpress建的網站、去年從零自學html/css後幫家裡建的官網，還有好幾份Launch School的作業。如果想要了解更多內容，可以點擊圖片看介紹還有到repo看程式碼。</p>
  </div>
  <div class="container">
    <ul class="row wall-portfolio">
      <% (1..6).each do |i| %>
        <li class="col-md-4 doblock">
          <a href="#" data-toggle = "modal" data-target = "#portfolio-<%= i %>">
            <img class="wall-gallery" src="/images/作品集-<%= i %>.png">
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</section>
  
  <section id="work" class="full-section-two bg-work">
<!-- Text Work Experience -->
<div class="container">
  <h2 class="title-main mywhite">工作經驗</h2>
  <p class="text-main mywhite">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<!-- Work -->
<div class="container cont-mg">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#1" role="tab" data-toggle="tab" aria-expanded="false">米蟲</a></li>
      <li role="presentation" class=""><a href="#2" role="tab" data-toggle="tab" aria-expanded="false">Fish Hostel魚旅背包客棧</a></li>
      <li role="presentation" class=""><a href="#3" role="tab" data-toggle="tab" aria-expanded="false">土女時代</a></li>
      <li role="presentation" class=""><a href="#4" role="tab" data-toggle="tab" aria-expanded="false">國軍</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Tab 1 -->
      <div role="tabpanel" class="tab-pane fade active in" id="1">
        <h3 class="title-wk">Front End Web Developer</h3>
      <p class="wk-company">Google Inc.</p>
      <p class="text-wk">從去年八月離職後，我就開始全職在家自學coding。從那時我就很困惑，為什麼很多長輩聽到你在學寫程式就會覺得你很奇怪，但是如果你說你在準備公務員就會覺得好棒棒？我個人是覺得寫程式有趣多了<br><br><br></p>
      <p class="wk-date">2016.9 - 現在</p>
      </div>
      <!-- Tab 2 -->
      <div role="tabpanel" class="tab-pane fade" id="2">
        <h3 class="title-wk">管家（包山包海）</h3>
        <p class="wk-company">Fish Hostel魚旅背包客棧</p>
      <p class="text-wk">在這份工作中我幾乎是全權負責青旅的業務，包含接待、發文、網站製作。當初會接下這份工作是因為有機會學習如何獨立經營，並且在行銷和網站製作上能夠做中學。不過後來事態漸漸的不像自己期望的發展，所以比預計的時間提早離職。在這段期間製作網站的過程中，我花了幾百個小時使用wordpress，但是只會用工具卻什麼技術也沒有學到的不適感，讓我下定決心開始學習coding，期望掌握真正能夠解決問題的能力。</p>
      <p class="wk-date">2016.3 - 2016.8</p>
      </div>
      <!-- Tab 3 -->
      <div role="tabpanel" class="tab-pane fade" id="3">
        <h3 class="title-wk">電商行銷實習生</h3>
      <p class="wk-company">土女時代</p>      
      <p class="text-wk">從軍中退伍後，我就立刻進入了這間電商成為了行銷實習生，主要職責是撰寫文案、活動發想還有出貨。雖然當時的我對行銷很有興趣，也有致繼續在這個領域深耕，但一直想要往海外發展的我我也開始思考，是否有辦法透過行銷這個技能去不同的國家歷練？因為行銷除了入門門檻低導致競爭過度激烈，相對來說這個技能因為文化、語言、工具的關係，沒辦法輕易地跨國界發揮，而我也從那時開始希望掌握更多不受國界影響的“技術”能力。</p>
      <p class="wk-date">2015.10 - 2015.12</p>
      </div>
      <!-- Tab 4 -->
      <div role="tabpanel" class="tab-pane fade" id="4">
        <h3 class="title-wk">班機兵兼政戰文書（還債）</h3>
        <p class="wk-company">564旅機步二營步二連</p>
        <p class="text-wk">人生最黑暗的時刻，沒有之一！（黑暗到我不想多寫XD）<br><br><br><br></p>
        <p class="wk-date">2014.10 - 2015.10</p>
      </div>
    </div>
    <!-- // Tab panes -->
  </div>
<!-- // Work -->
</section>
<section id="education" class="full-section">
<!-- Text Education -->
<div class="container">
  <h2 class="title-main">教育程度</h2>
</div>

<!-- Timeline Responsive -->
<article id="cd-timeline" class="cd-container">
  <!-- 1 Item -->
  <div class="cd-timeline-block">
    <!-- Circle image 64x64 -->
    <div class="cd-timeline-img my-green">
      <img src="http://izee.ro/market/mywall/one-plus/img/ed1.png" alt="Engineering">
    </div>
    <!-- Info 1 Education -->
    <div class="cd-timeline-content">
      <h2>J-PAC計畫交換生</h2>
      <h3>千葉大學</h3>
      <span class="cd-date">2013 - 2014</span>
    </div>
  </div>
  <!-- 2 Item -->
  <div class="cd-timeline-block">
    <!-- Circle image 64x64 -->
    <div class="cd-timeline-img my-green">
      <img src="http://izee.ro/market/mywall/one-plus/img/ed2.png" alt="Science">
    </div> 
    <!-- Info 2 Education -->
    <div class="cd-timeline-content">
      <h2>環境工程學系</h2>
      <h3>成功大學</h3>
      <span class="cd-date">2009 - 2013</span>
    </div> 
  </div> 
  <!-- 3 Item -->
  <div class="cd-timeline-block">
    <!-- Circle image 64x64 -->
    <div class="cd-timeline-img my-green">
      <img src="http://izee.ro/market/mywall/one-plus/img/ed3.png" alt="Bachelor">
    </div>
    <!-- Info 3 Education -->
    <div class="cd-timeline-content">
      <h2>屏東第一男子高校</h2>
      <h3>屏東高中</h3>
      <span class="cd-date">2006 - 2009</span>
    </div> 
  </div> 
  <!-- The Beginning of Times image -->
  <div class="cd-timeline-block">
    <!-- Circle image 64x64 -->
    <div class="cd-timeline-img my-green">
      <img src="http://izee.ro/market/mywall/one-plus/img/ed4.png" alt="Times">
    </div> 
  </div>
</article>
<!-- The Beginning of Times item -->
<p class="txt-times">誕生於<br>西元1991</p>
</section>
<section id="why5xruby" class="full-section-two bg-skills">
    <div class="container">
      <h2 class="title-main mywhite">為什麼是五倍紅寶石</h2>
      
    
      <h3 class="title-wk">為什麼要錄取我</h3>
      <p class="text-main mywhite">雖然我目前的程度離之前上戰場還有點距離，但我仍舊會盡我所能貢獻自己的能力，如果有機會參與專案，我一定會像塊海綿一樣不斷吸收新知、並拼命地完成任務。
      <br><br>除了期望在coding方面有所貢獻，我還能夠為五倍紅寶石提供其他的協助</p>
    </div>
    <div class="container cont-mg">
      <div class="row">
        <div class="col-md-4">
          <div class="cont-ab">
            <h4 class="title-four color-a">日文交流</h4>
            <!-- Software Abilitie 1 -->
            <div class="row">
              <p class="text-awsm">先前有幸在學習日文一年後，到日本千葉大交換一年。在這段時間對日文的學習跟使用有了更深刻的認識，並幸運的通過了N1的檢定。<br><br>如果紅寶石夥伴有想要交流日文、或是什麼我可以幫得上忙的地方，我自然義不容辭。</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="cont-ab">
            <h4 class="title-four color-a">寫作交流</h4>
            <!-- Software Abilitie 1 -->
            <div class="row">
              <p class="text-awsm">我平常有寫作的習慣，雖然不敢說有什麼特別的成就，但是隨著時間的積累，也慢慢地得到了一些心得。<br><br>若是紅寶石內部有夥伴剛好有在寫部落格的話，也許能夠互相交流、互相學習。<br><br></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="cont-ab">
            <h4 class="title-four color-a">鏟屎官</h4>
            <!-- Software Abilitie 1 -->
            <div class="row">
              <p class="text-awsm">如果鏟屎官臨時需要頂替，身為家中有六隻貓的人，我應該可以幫得上忙。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="aboutme" class="full-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="title-main">未來五年目標</h3>
          <blockquote>Life is growth, you grow or you die.－Phil Knight，Nike創辦人</blockquote>
        </div>
        <div class="col-md-4">
          <img class="img-rd" src="http://izee.ro/market/mywall/one-plus/img/programmer.png" alt="全端工程師"/>
          <h3 class="title-rd">全端工程師</h3>
          <p class="text-rd">Coding對我來說是一個實用性、複利效應高、有效解決問題等多重目標於一身的技能。<br><br>在接下來的幾年，我都會不斷精進自己的coding能力，讓「它」成為我創業過程中及人生中最堅強的後盾。</p>
        </div>
         <div class="col-md-4">
          <img class="img-rd" src="http://izee.ro/market/mywall/one-plus/img/brain.png" alt="寫作者" />
          <h3 class="title-rd">寫作者</h3>
          <p class="text-rd">從去年開始我養成了一天寫一篇<a href="http://www.createyourownlives.com" target="_blank" alt="林家弘的部落格">文章</a>的習慣，透過這個方式倒逼自己輸入、思考、總結。<br><br>現在已經累積近200篇文章，目標是5年內累積1000篇文章。</p>
          <ul>
            <li>每天寫1000-1500字</li>
            <li>5年內累積1000篇文章</li>
          </ul>
        </div>
         <div class="col-md-4">
          <img class="img-rd" src="http://izee.ro/market/mywall/one-plus/img/rocket.png" alt="創業家"/>
          <h3 class="title-rd">實踐家</h3>
          <p class="text-rd">「希望在29歲結束之前創業」，這是我給自己的一個小里程碑。<br><br>「協助解決台灣的流浪動物問題」，則是我希望能達到的目標之一。</p>
        </div>
      </div>
    </div>
  </section>
  <section id="download" class="full-download">
    <div class="container">
      <div class="row">
        <!-- Social Networks -->
        <div class="col-sm-12 btn-class col-md-7">
          <a href="https://www.facebook.com/profile.php?id=100000288407367" target="_blank" class="social-ink">
            <img class="socl" src="../images/facebook-icon.png" alt="facebook">
          </a>
          <a href="https://medium.com/@pk60905" target="_blank" class="social-ink">
            <img class="socl" src="../images/medium-icon.png" alt="medium">
          </a>
          <a href="https://github.com/jerrylin224" target="_blank" class="social-ink">
            <img class="socl" src="../images/github-icon.png" alt="github">
          </a>
          <a href="http://www.createyourownlives.com" target="_blank" class="social-ink">
            <img class="socl" src="../images/pencil.png" alt="personal_blog">
          </a>
        </div>
        <!-- Download Resume - CV -->
        <div class="col-sm-5 btn-class hidden-sm hidden-xs">
          <a class="btn-dwnld" href="#">下載簡歷</a>
        </div>
      </div>
    </div>
  </section>
<section id="contacto" class="full-section-three bg-contact">
  <div class="container">
    <!-- Title Contact me -->
    <h1 class="title-ct">聯絡我</h1>
    <p class="separator-ct"></p>
    <!-- Localization -->
    <div class="row">
      <div class="col-md-6 col-xs-12 txt-center">
        <p class="icon-ct glyphicon glyphicon-map-marker"></p>
        <p class="text-ct">居住地： <b>屏東市</b></p>
      </div>
      <!--Mail -->
      <div class="col-md-6 col-xs-12 txt-center">
        <p class="icon-ct glyphicon glyphicon-send"></p>
        <p class="text-ct">pk60905@gmail.com</p>
      </div>
    </div>
  </div>
  <!-- Contact Form -->
  <article class="container cntme">
    <form method="post" action="/contact" id="ContactForm" name="ContactForm" class="validate-form">
      <!-- Form inputs -->
      <div class="row">
        <div class="form-group col-md-6 col-md-offset-3">
          <input type="text" class="form-control ct-name" name="name" id="name" placeholder="姓名" required="">
        </div>
        <div class="form-group col-md-6 col-md-offset-3">
          <input type="email" class="form-control ct-mail " name="email" id="email" placeholder="信箱" required="">
        </div>
        <div class="form-group col-md-6 col-md-offset-3">
          <textarea class="form-control ct-message" rows="6" name="message" id="message" placeholder="你想說的話..." required=""></textarea>
        </div>
      </div>
      <!-- Button Send -->
      <div class="row">
        <div class="form-group col-md-6 col-md-offset-3">
          <div id="successmsg"></div>
          <button type="submit" name="button" id="button" class="btn btnc2 with-br btn-ctc"><span>寄出</span></button>
        </div>
      </div>
    </form>
  </article>
  <!-- // Contact Form -->
</section>
<footer class="full-footer">
  <div class="container padding-footer">
    <div class="row">
      <!-- Text Left -->
      <div class="col-sm-8 foo-left">這份履歷是我參考這份<a href="http://izee.ro/market/mywall/one-plus/" alt="履歷模板" target="_blank">模板</a>所完成的，希望你會喜歡。</div>
      <!-- Text Right -->
      <div class="col-sm-4 foo-right"><a href="https://github.com/jerrylin224/resume" target="_blank">原始碼</a></div>
    </div>
  </div>
</footer>