<div class="modal fade" id="callmeModal" tabindex="-1" aria-hidden="true" role="dialog" arial-labelledby="ModalCall" style="dispaly: block;">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="close">
          <span aria-hidden="true">x</span>
        </button>
        <h2 class="modal-title getmetelf" id="ModalCall">我的聯絡方式</h2>
      </div>
      <div class="modal-body">
        <div class="myphone">
          <p class="greynum">+886</p>
          922-645-097
        </div>
        <div class="contacthours">
          <p class="hourcall">聯絡時間</p>
          <div class="rightcall">
            <p class="dayscall">星期一 - 星期五</p>
            <p class="horario">9:00 - 22:00</p>
            <p class="dayscall">星期六 - 星期日</p>
            <p class="horario">10:00 - 18:00</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class = "modal fade" id = "portfolio-1" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel-1" aria-hidden = "true">
   <div class = "modal-dialog">
      <div class = "modal-content">
         <div class = "modal-header">
            <h4 class = "modal-title" id = "myModalLabel-1">
               Fish Hostel魚旅背包客棧 官網
            </h4>
         </div> 
         <div class = "modal-body">
            <p>這是我在青旅當管家時所建的網站，由於當時的我完全不了解任何程式語言，所以只透過wordpress這個平台很陽春的建立，開發的時間大約一個月。這個過程中學會了：
            <ul>
              <li>如何透過減少request和檔案，加速網站運行</li>
              <li>根據設計圖排版</li>
              <li>使用plugin</li>
            </ul>
            <br>註：這個網站目前似乎已經沒有在維護，所以有些plugin應該已經出現不相容的情況。
            </p>
         </div>
         <div class = "modal-footer">
          <a href="http://www.fishhosteltaipei.com" target="_blank" class="btn btn-default btn-lg" role="button">網站</a>
         </div>
      </div>
   </div>
</div>
<div class = "modal fade" id = "portfolio-2" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel-2" aria-hidden = "true">
   <div class = "modal-dialog">
      <div class = "modal-content">
         <div class = "modal-header">
            <h4 class = "modal-title" id = "myModalLabel-2">
               Launch School作業－Todo App
            </h4>
         </div> 
         <div class = "modal-body">
            <p>這個Todo App是Launch School最後一堂後端課程的作業，而這個App主要是使用Sinatra所建立的，大約花了我2-3天完成（因為承接了上一份作業的內容，所以時間短了很多）。這個過程中學會了：
            <ul>
              <li>如何使用Sinatra</li>
              <li>如何使用PG、Sequel等gems</li>
              <li>如何結合database和session</li>
            </ul>
            </p>
         </div>
         <div class = "modal-footer">
            <a href="https://github.com/jerrylin224/course_180/tree/master/sinatra_todos" target="_blank" class="btn btn-default btn-lg" role="button">程式碼</a>
         </div>
      </div>
   </div>
</div>
<div class = "modal fade" id = "portfolio-3" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel-3" aria-hidden = "true">
   <div class = "modal-dialog">
      <div class = "modal-content">
         <div class = "modal-header">
            <h4 class = "modal-title" id = "myModalLabel-3">
               Launch School作業－圈圈叉叉（tic-tac-toe）
            </h4>
         </div> 
         <div class = "modal-body">
            <p>這個圈圈叉叉的程式，是Launch School的OOP課程中的一個作業，內容是把先前用procedural方式寫的code改寫成OOP的形式，總共大約花了我2-3天完成，在這個過程中我學會了：
            <ul>
              <li>如何透過OOP的方式撰寫程式碼</li>
              <li>Class inheritance的常見問題</li>
              <li>如何使用module和class</li>
            </ul>
            </p>
         </div>
         <div class = "modal-footer">
            <a href="https://github.com/jerrylin224/lauchschool-work/blob/master/oop/oop_lesson5/ttt_bonus.rb" target="_blank" class="btn btn-default btn-lg" role="button">程式碼</a>
         </div>
      </div>
   </div>
</div>
<div class = "modal fade" id = "portfolio-4" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel-4" aria-hidden = "true">
   <div class = "modal-dialog">
      <div class = "modal-content">
         <div class = "modal-header">
            <h4 class = "modal-title" id = "myModalLabel-4">
               Launch School習題－Weekly Challenge
            </h4>
         </div> 
         <div class = "modal-body">
            <p>這份作業裡面是Launch SChool的額外練習題，我完成了有24題，我從這個過程中學到：
            <ul>
              <li>加深了Ruby的觀念</li>
              <li>如何運用OOP</li>
              <li>如何使用test降低出錯機率</li>
            </ul>
            </p>
         </div>
         <div class = "modal-footer">
            <a href="https://github.com/jerrylin224/weekly_challenge" target="_blank" class="btn btn-default btn-lg" role="button">程式碼</a>
         </div>
      </div>
   </div>
</div>
<div class = "modal fade" id = "portfolio-5" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel-5" aria-hidden = "true">
   <div class = "modal-dialog">
      <div class = "modal-content">
         <div class = "modal-header">
            <h4 class = "modal-title" id = "myModalLabel-5">
               Launch School作業－21點
            </h4>
         </div> 
         <div class = "modal-body">
            <p>這份作業是透過procedural的方式完成，也是初學Ruby時接觸到比較複雜的程式。在這個過程中我學到：
            <ul>
              <li>如何處理大量的loop</li>
              <li>如何善用if else statement</li>
              <li>如何透過hash&array儲存資料</li>
            </ul>
            </p>
         </div>
         <div class = "modal-footer">
            <a href="https://github.com/jerrylin224/lauchschool-work/blob/master/lesson_4/twenty_one_bonus.rb" target="_blank" class="btn btn-default btn-lg" role="button">程式碼</a>
         </div>
      </div>
   </div>
</div>
 <div class = "modal fade" id = "portfolio-6" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel-6" aria-hidden = "true">
   <div class = "modal-dialog">
      <div class = "modal-content">
         <div class = "modal-header">
            <h4 class = "modal-title" id = "myModalLabel-6">
               松田健康生活館（我們家） 官網
            </h4>
         </div> 
         <div class = "modal-body">
            <p>這個網站是我在2016年年初，透過codecademy自學html/css後，所做出來的第一個網站。當時從零開始學，到作出這個靜態網站大概花了我100多個小時的時間。從這個過程中我學到：
            <ul>
              <li>如何使用簡單的html/css</li>
              <li>頁面排版</li>
              <li>RWD的基礎知識</li>
            </ul>
            </p>
         </div>
         <div class = "modal-footer">
            <a href="https://github.com/jerrylin224/matsuda" target="_blank" class="btn btn-default btn-lg" role="button">程式碼</a>
         </div>
      </div>
   </div>
</div>
<header>
  <div id="top" class="container">
    <nav id="ha-header" class="ha-header ha-header-show ha-header-subshow">
      <ul class="nav">
          <li class="dropdown">
            <a class="dropdown-toggle circle-main" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">        
          <svg class="hello" height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 15.5v2h20v-2H2zm0-5v2h20v-2H2zm0-5v2h20v-2H2z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
            </a>
            <ul class="dropdown-menu">
              <li><a data-scroll data-options="{ &quot;easing&quot;: &quot;easeOutQuint&quot; }" href="#top" class="menu-item wall">Hello</a></li>
              <li><a data-scroll data-options="{ &quot;easing&quot;: &quot;easeOutQuint&quot; }" href="#about" class="menu-item wall">關於我</a></li>
              <li><a data-scroll data-options="{ &quot;easing&quot;: &quot;easeOutQuint&quot; }" href="#skills" class="menu-item wall">技能和能力</a></li>
              <li><a data-scroll data-options="{ &quot;easing&quot;: &quot;easeOutQuint&quot; }" href="#portfolio" class="menu-item wall">作品集</a></li>
              <li><a data-scroll data-options="{ &quot;easing&quot;: &quot;easeOutQuint&quot; }" href="#work" class="menu-item wall">工作經驗</a></li>
              <li><a data-scroll data-options="{ &quot;easing&quot;: &quot;easeOutQuint&quot; }" href="#education" class="menu-item wall">教育程度</a></li>
              <li><a data-scroll data-options="{ &quot;easing&quot;: &quot;easeOutQuint&quot; }" href="#why5xruby" class="menu-item wall">為什麼是五倍紅寶石</a></li>
              <li><a data-scroll data-options="{ &quot;easing&quot;: &quot;easeOutQuint&quot; }" href="#download" class="menu-item wall">社群媒體</a></li>
              <li><a data-scroll data-options="{ &quot;easing&quot;: &quot;easeOutQuint&quot; }" href="#contacto" class="menu-item wall">聯絡我</a></li>
            </ul>
          </li>
        </ul>
    </nav>
    <div class="nav-extra hidden-xs">
      <a class="callme" href="#" data-toggle="modal" data-target="#callmeModal">
        <span class="glyphicon glyphicon glyphicon-earphone call" aria-hidden="true"></span>
      </a>
      <a class="hireme button-mywall" data-scroll="" data-options="{ &quot;easing&quot;: &quot;easeOutQuint&quot; }" href="#contacto">Hire me now</a>
    </div>
  </div>
  <div class="container">
    <img class="img-circle imgsus" alt="Andrey Marin" src="/images/profile-1.png">
    <h1 class="name-boss">林家弘</h1>
  </div>
</header>
<section id="about" class="full-section my-about">
  <article class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="title-main">關於我</h2>
        <p class="text-main">嗨，我是林家弘，我目前正在全職自學coding當中，對我來說最大的目標就是打造出世界級的公司。而透過不斷強化coding、思考、實踐的能力，還有前往海外接受歷練，就是我前往目標的道路上最好的後盾。也希望今年結束之前可以得到海外的Offer，開始在海外接受不同的挑戰。<br><br>
        平時最大的樂趣是閱讀還有寫作，有機會的話也喜歡一個人去不同的國家走走、找朋友。接下來想去這幾個城市/國家（北京、上海、印尼、泰國、吉爾吉斯）見見過去的好朋友們。</p>
      </div>
      <div class="col-md-6">
        <img src="/images/life-4.jpg" style="max-width: 100%;" alt="與Google總部合照" />
      </div>
    </div>
    <div class="container">
      <div class="row">
        <h3 class="title-three">生活</h3>
        <ul>
          <li data-toggle="tooltip" data-placement="bottom" title="在日本千葉大學交換一年期間，讓我擁有了一段非常美好的人生回憶，也我交到了許多來自不同國家的好朋友。"><img src="/images/life-3.jpg"  alt="日本認識的外國朋友" /></li>
          <li data-toggle="tooltip" data-placement="bottom" title="大四時參加的工學院的計畫，讓我生平第一次踏上美帝的國土。也謝謝成大學長姐的導覽，讓我有機會一虧Google總部。"><img src="/images/life-4.jpg"  alt="與Google總部合照" /></li>
          <li data-toggle="tooltip" data-placement="bottom" title="我家的肥貓'大仔'，雖然大隻但是叫聲卻很秀氣（可能是因為少了蛋蛋......），是隻很愛撒嬌和橫衝直衝的公貓。"><img src="/images/life-5.jpg"  alt="我們家的貓咪－大仔" /></li>
          <li data-toggle="tooltip" data-placement="bottom" title="人生第一次挑戰搭便車＆沙發衝浪。在日本交換生涯結束之前，我從我所在的千葉縣，搭便車到青森。歷時七天、路程約800公里。"><img src="/images/life-1.jpg"  alt="在日本搭便車的樣子" /></li>
          <li data-toggle="tooltip" data-placement="bottom" title="在大四寒假的時候我跑到菲律賓當了六個禮拜的國際志工，這也是我生平第一次'一個人'待在國外這麼久的時間。" > <img src="/images/life-2.jpg"  alt="在菲律賓與NGO內的小朋友合影" /></li>
        </ul>
      </div>
    </div>
  </article>
</section>
<section id="skills" class="full-section-two bg-skills">
  <div class="container">
    <h2 class="title-main mywhite">技能和能力</h2>
    <p class="text-main mywhite">從去年開始到現在，陸陸續續接觸了不同的語言和框架，到目前為止比較熟悉的是Ruby、PSQL、Sinatra和HTML/CSS。雖然接觸coding的時間不算太長，但我自認是個積極的學習者，因為過往我也曾從完全零基礎開始學日文，並在一年後通過日檢N2的考試，為自己爭取到日本千葉大學交換留學一年的機會。</p>
    <div class="row">
      <% @skill.each do |key, value| %>
        <div class="col-md-6 spear">
          <div class="row">
            <div class="hidden-xs col-sm-2 icon-skill">
              <img src="../images/<%= value[0] %>.png" alt="<%= value[0] %>" />
            </div>
            <div class=" col-sm-10">
              <div class="row">
                <div class="col-sm-12 title-skill"><%= key %></div>
                <div class="col-sm-12 bar-skill">
                  <div class="this-skill my-green <%= value[1] %>"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<section id="portfolio" class="full-section">
  <div class="container">
    <h2 class="title-main">作品集</h2>
    <p class="text-main">在這裡收集了我先前工作時用wordpress建的網站、去年從零自學html/css後幫家裡建的官網，還有好幾份Launch School的作業。如果想要了解更多內容，可以點擊圖片看介紹還有到repo看程式碼。</p>
  </div>
  <div class="container">
    <ul class="row wall-portfolio">
      <% (1..6).each do |i| %>
        <li class="col-md-4 doblock">
          <a href="#" data-toggle = "modal" data-target = "#portfolio-<%= i %>">
            <img class="wall-gallery" src="/images/作品集-<%= i %>.png">
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</section>
<section id="work" class="full-section-two bg-work">
  <div class="container">
    <h2 class="title-main mywhite">工作經驗</h2>
    <p class="text-main mywhite">2015年結束兵役至今，有著一份實習、一份正職的經驗，而目前的我則是透過自學，往全端工程師的道路邁進。雖然先前的工作經驗都不算長，但是在每個過程當中，我都學到了彌足珍貴的經驗。</p>
  </div>
  <div class="container cont-mg">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#1" role="tab" data-toggle="tab" aria-expanded="false">目前</a></li>
      <li role="presentation" class=""><a href="#2" role="tab" data-toggle="tab" aria-expanded="false">Fish Hostel魚旅背包客棧</a></li>
      <li role="presentation" class=""><a href="#3" role="tab" data-toggle="tab" aria-expanded="false">土女時代</a></li>
      <li role="presentation" class=""><a href="#4" role="tab" data-toggle="tab" aria-expanded="false">國軍</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade active in" id="1">
        <h3 class="title-wk">自學coding</h3>
        <p class="wk-company">家中</p>
        <p class="text-wk">從去年八月離職後，我就開始全職在家自學coding。目前是透過Launch School的課程學習，已經完成了Ruby、OOP、HTTP、SQL的課程，現在則是學習到HTML/CSS的部分。而因為製作這份履歷的關係，也讓我學習到更多關於Sinatra的知識，還有如何運用Bootstrap和jQuery。<br><br><br>未來期望可以更成長得更快速，進而能夠前往海外工作，在更激烈的環境下學習、成長。</p>
        <p class="wk-date">2016.9 - 現在</p>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="2">
        <h3 class="title-wk">管家</h3>
        <p class="wk-company">Fish Hostel魚旅背包客棧</p>
      <p class="text-wk">在這份工作中我幾乎是全權負責青旅的業務，包含接待、發文、網站製作。當初會接下這份工作是因為有機會學習如何獨立經營，並且在行銷和網站製作上能夠做中學，但實際上在這份工作中，我幾乎大部分的時間都花在製作網站上。<br><br><br>在這過程中，雖然花了幾百個小時使用wordpress建立了網站，但只會用工具卻什麼技術都沒學到的痛苦，讓我下定決心開始一定要掌握真正的技能，所以毅然辭職開始學習coding。<br></p>
      <p class="wk-date">2016.3 - 2016.8</p>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="3">
        <h3 class="title-wk">電商行銷實習生</h3>
      <p class="wk-company">土女時代</p>      
      <p class="text-wk">從軍中退伍後，我進入了這間電商成為了行銷實習生，主要職責是撰寫文案、活動發想還有出貨。在當時剛退伍沒什麼錢，所以實習期間我都睡在朋友家的沙發上、領著還能維持三餐的實習費，每天晚上都在跟寒冷還有蚊子奮戰。但是欣慰的是，我的成績在同期的三名實習生中是最好的，貢獻了公司當時超過35%的業績。<br><br>

      但是雖然喜歡行銷，卻發現行銷因為入門門檻較低導致競爭過度激烈，而且無法讓我有機會到海外工作。所以我也從那時開始希望掌握更多不受國界影響的“技術”能力。</p>
      <p class="wk-date">2015.10 - 2015.12</p>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="4">
        <h3 class="title-wk">班機兵兼政戰文書</h3>
        <p class="wk-company">564旅機步二營步二連</p>
        <p class="text-wk">在軍中這一年是我人生中最沮喪的一年。除了抽到野戰部隊，一年來在五個營區間不斷搬遷，參加過下基地、高裝檢、三軍聯勇、漢光演習，幾乎是無役不與。<br><br>在炎熱的天氣下全副武裝、四點半起來準備上山操演、行軍數小時、被罵都是家常便飯，期間還要同時面對來自中國的女朋友和工作的壓力。不過因為有了這段經歷，我對後來很多事情也都不以為苦。<br><br>
        </p>
        <p class="wk-date">2014.10 - 2015.10</p>
      </div>
    </div>
  </div>
</section>
<section id="education" class="full-section">
  <div class="container">
    <h2 class="title-main">教育程度</h2>
  </div>
  <article id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
      <div class="cd-timeline-img my-green">
        <img src="http://izee.ro/market/mywall/one-plus/img/ed1.png" alt="交換生">
      </div>
      <div class="cd-timeline-content">
        <h2>J-PAC計畫交換生</h2>
        <h3>日本千葉大學</h3>
        <span class="cd-date">2013 - 2014</span>
      </div>
    </div>
    <div class="cd-timeline-block">
      <div class="cd-timeline-img my-green">
        <img src="http://izee.ro/market/mywall/one-plus/img/ed2.png" alt="大學">
      </div> 
      <div class="cd-timeline-content">
        <h2>環境工程學系</h2>
        <h3>成功大學</h3>
        <span class="cd-date">2009 - 2013</span>
      </div> 
    </div> 
    <div class="cd-timeline-block">
      <div class="cd-timeline-img my-green">
        <img src="http://izee.ro/market/mywall/one-plus/img/ed3.png" alt="高中">
      </div>
      <div class="cd-timeline-content">
        <h2>屏東高中</h2>
        <span class="cd-date">2006 - 2009</span>
      </div> 
    </div> 
  
    <div class="cd-timeline-block">
      <div class="cd-timeline-img my-green">
        <img src="http://izee.ro/market/mywall/one-plus/img/ed4.png" alt="Times">
      </div> 
    </div>
  </article>
  <p class="txt-times">誕生於<br>西元1991</p>
</section>
<section id="why5xruby" class="full-section-two bg-skills">
  <div class="container">
    <h2 class="title-main mywhite">為什麼是五倍紅寶石</h2>
    <p class="text-main mywhite">紅寶石在台灣一直是推動Ruby/Rails教學的重要推手，不論是各式各樣的講座、RubyConfTaiwan、Rails Girls、國外Ruby相關的交流活動，紅寶石都沒有缺席過。而我想，對任何一個有心想要學習、貢獻所學、熱愛挑戰的人來說，紅寶石絕對會是最優先的選項。</p>
    
  
    <h3 class="title-why">為什麼應該錄取我</h3>
    <p class="text-main mywhite">雖然我目前的程度離之前上戰場還有點距離，但我仍舊會盡我所能貢獻自己的能力，如果有機會參與專案，我一定會像塊海綿一樣不斷吸收新知、並且完成任務。
    <br><br>而除了期望在coding方面有所貢獻，我還能夠為五倍紅寶石提供其他的協助：</p>
  </div>
  <div class="container cont-mg">
    <div class="row possible-contribution">
      <div class="col-md-4">
        <div class="cont-ab">
          <h4 class="title-four color-a">日文學習</h4>
          <div class="row">
            <p class="text-awsm">先前有幸在學習日文一年後，到日本千葉大交換一年。在這段時間對日文的學習跟使用有了更深刻的認識，並幸運的通過了N1的檢定。<br><br>我想我可以：
            <ul>
              <li>解答簡單的日文問題</li>
              <li>分享日本的風俗和見聞</li>
            </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="cont-ab">
          <h4 class="title-four color-b">寫作交流</h4>
          <div class="row">
            <p class="text-awsm">我平常有寫作的習慣，雖然不敢說有什麼特別的成就，但是隨著時間的慢慢積累，也漸漸有了不少的心得。<br><br><br>我想我可以：
            <ul>
              <li>分享如何搜集寫作的主題</li>
              <li>分享如何透過寫作幫助思考</li>
            </ul></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="cont-ab">
          <h4 class="title-four color-c">書籍推薦</h4>
          <div class="row">
            <p class="text-awsm">閱讀一直是我最大的興趣之一，一年大概都可以讀20來本書。我最近看得比較多的書偏向自傳、學習方法、個人成長還有腦神經科學。<br><br>我想我可以：
            <ul>
              <li>分享如何挑書</li>
              <li>分享不同管道買書和閱讀的方式</li>
            </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="aboutme" class="full-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="title-main">未來五年目標</h2>
        <blockquote>Life is growth, you grow or you die.－Phil Knight，Nike創辦人</blockquote>
      </div>
      <div class="col-md-4">
        <img class="img-rd" src="http://izee.ro/market/mywall/one-plus/img/programmer.png" alt="全端工程師"/>
        <h3 class="title-rd">全端工程師</h3>
        <p class="text-rd">Coding對我來說是一個實用性、複利效應高、有效解決問題等多重目標於一身的技能。<br><br>在接下來的幾年，我都會不斷精進自己的coding能力，讓「它」成為我創業過程中及人生中最堅強的後盾。</p>
      </div>
      <div class="col-md-4">
        <img class="img-rd" src="http://izee.ro/market/mywall/one-plus/img/brain.png" alt="寫作者" />
        <h3 class="title-rd">寫作者</h3>
        <p class="text-rd">從去年開始我養成了一天寫一篇<a href="http://www.createyourownlives.com" target="_blank">文章</a>的習慣，透過這個方式倒逼自己輸入、思考、總結。<br><br>現在已經累積近200篇文章，目標是5年內累積1000篇文章。</p>
        <ul>
          <li>每天寫1000-1500字</li>
          <li>5年內累積1000篇文章</li>
        </ul>
      </div>
      <div class="col-md-4">
        <img class="img-rd" src="http://izee.ro/market/mywall/one-plus/img/rocket.png" alt="創業家"/>
        <h3 class="title-rd">實踐家</h3>
        <p class="text-rd">「希望在29歲結束之前創業」，這是我給自己的一個小里程碑。<br><br>「協助解決台灣的流浪動物問題」，則是我希望能達到的目標之一。</p>
      </div>
    </div>
  </div>
</section>
<section id="download" class="full-download">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 btn-class col-md-7">
        <a href="https://www.facebook.com/profile.php?id=100000288407367" target="_blank" class="social-ink">
          <img class="socl" src="../images/facebook-icon.png" alt="facebook">
        </a>
        <a href="https://medium.com/@pk60905" target="_blank" class="social-ink">
          <img class="socl" src="../images/medium-icon.png" alt="medium">
        </a>
        <a href="https://github.com/jerrylin224" target="_blank" class="social-ink">
          <img class="socl" src="../images/github-icon.png" alt="github">
        </a>
        <a href="http://www.createyourownlives.com" target="_blank" class="social-ink">
          <img class="socl" src="../images/pencil.png" alt="personal blog">
        </a>
      </div>
      <div class="col-sm-5 btn-class hidden-sm hidden-xs">
        <a class="btn-dwnld" href="#">下載簡歷</a>
      </div>
    </div>
  </div>
</section>
<section id="contacto" class="full-section-three bg-contact">
  <div class="container">
    <h2 class="title-ct">聯絡我</h2>
    <p class="separator-ct"></p>
    <div class="row">
      <div class="col-md-6 col-xs-12 txt-center">
        <p class="icon-ct glyphicon glyphicon-map-marker"></p>
        <p class="text-ct">居住地： <b>屏東市</b></p>
      </div>
      <div class="col-md-6 col-xs-12 txt-center">
        <p class="icon-ct glyphicon glyphicon-send"></p>
        <p class="text-ct">pk60905@gmail.com</p>
      </div>
    </div>
  </div>
  <article class="container cntme">
    <form method="post" action="/contact" id="ContactForm" name="ContactForm" class="validate-form">
      <div class="row">
        <div class="form-group col-md-6 col-md-offset-3">
          <input type="text" class="form-control ct-name" name="name" id="name" placeholder="姓名" required="">
        </div>
        <div class="form-group col-md-6 col-md-offset-3">
          <input type="email" class="form-control ct-mail " name="email" id="email" placeholder="信箱" required="">
        </div>
        <div class="form-group col-md-6 col-md-offset-3">
          <textarea class="form-control ct-message" rows="6" name="message" id="message" placeholder="你想說的話..." required=""></textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6 col-md-offset-3">
          <div id="successmsg"></div>
          <button type="submit" name="button" id="button" class="btn btnc2 with-br btn-ctc"><span>寄出</span></button>
        </div>
      </div>
    </form>
  </article>
</section>
<footer class="full-footer">
  <div class="container padding-footer">
    <div class="row">
      <div class="col-sm-8 foo-left">這份履歷是我參考這份<a href="http://izee.ro/market/mywall/one-plus/" target="_blank">模板</a>所完成的，希望你會喜歡。</div>
      <div class="col-sm-4 foo-right"><a href="https://github.com/jerrylin224/resume" target="_blank">原始碼</a></div>
    </div>
  </div>
</footer>